* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:navy;
  font-size: 2rem;
}

body {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding-top: 20px;
}

#container {
  
  width:350px;
  padding: 0;
  border: 2px dotted navy;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#display {
  width: 325px;
  height: 117px;
  border: 2px dotted navy;
  padding:0;
}

.screen {
  width: 320px;
  height: 60px;
  text-align: right;
  margin: 0px;
  font-size: 2rem;
  border:none;
  background-color: none;
  padding-right:5px;
}

.operatorscreen {
  display: block;
  width: 320px;
  height: 30px;
  text-align: left;
  margin-top: 5px;
  font-size: 1rem;
  padding-left:10px;
  border:none;
  background-color: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

button {
  width: 74px;
  height: 74px;
  margin-right: 10px;
  background-color: none;
  border: 2px dotted navy;
  color: navy;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

button:active {
  border: 2px dotted blue;
  color: blue;
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

button:focus {outline:0;} 

.equalsbutton {
  height: 74px;
  width: 390px;
  margin-right: 10px;
  background-color: none;
  border: 2px dotted navy;
  color: navy;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.equalsbutton:active {
  border: 2px dotted blue;
  color: blue;
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

.equalsbutton:focus {outline:0;} 